@media print {
    #PrintReport {        
		display:none;
    }
}

.tollgateReportDisplayWrapper{
	display:none;	
}
#tollgateReportHeader{
	margin-bottom:10px;
	border-bottom:1px black solid;
	text-align:center;
	font-weight:bold;
}
#ProjectTitle{
	font-size:18pt;
}
.tollgateData{
	
}
.tollgateDataLabel{
	text-align:right;
	font-weight:bold;
	vertical-align:top;
	white-space:nowrap;
	
}
#reporttype {
	font-size:14pt;
}
#ProjectLastUpdate{
	font-size:10pt;
}

.tollgateReportWrapper{
	font-family:Arial, Helvetica, sans-serif;
}
.tollgateKPIsWrapper, .tollgateAvailableKPIsWrapper {
	overflow:auto;
	clear:both;
	border:1px black solid;
	padding:2px;
}
.projectKPI, .projectAvailableKPI{
	border-top:1px #ccc solid;
	border-left:1px #ccc solid;
	border-bottom:1px #666 solid;
	border-right:1px #666 solid;
	
	padding:5px;
	margin:5px;
	display:inline-block;	
	border-radius:3px;
	min-width:100px;
	background-color:white;
	text-align:left;
}
.projectKPI img{
	padding-right:5px;
	vertical-align:middle;
}
.projectKPI span{
	font-weight:bold;
}
#tollgateReportBody{
	font-size:10pt;
}
#tollgateReportBodyLeftColumn, #tollgateReportBodyRightColumn{
	min-height:600px;
	width:49%;
}

#tollgateReportBodyLeftColumn{
	float:left;
}
#tollgateReportBodyRightColumn{
	float:right;
}

#tollgateReportFooter{
	clear:both;
	margin-top:5px;
	border-top:1px black solid;
}
.reportSection{
	border: 1px black solid;
	padding:3px;
	margin:3px;
}
.boldLabel{
	font-weight:bold;
}
.boldItalicsLabel{
	font-weight:bold;
	font-style:italic;
}
#reportLog{
	text-align:right;
	font-size:9pt;
}