body {margin:5px;padding:5px;font-size:smaller;overflow:auto}
#CWActionTitle {font-size:larger;font-weight:bold}
#CWActionCategory {font-weight:bold}
#CWActionDescription{color:gray}
.FormButtons {float:right}
#TabbedForm {margin:2px}
#HowTab li {padding: 3px 0}
label {padding:5px;display:inline-block;width:100px}
input, textarea, select {padding:5px;margin:8px}
.CWInput, .CWChoice {min-width:450px}
.chosen-container {margin:8px}
input[type="text"] {width:250px}
textarea {width:250px}
.CWRequired {color:red}
.CWFormDescription{color:gray;font-size:smaller;margin-left:120px;margin-top:-5px;position:absolute}
#HiddenParameters{display:none}
.chosen-container, .chosen-drop, .chosen-drop .chosen-search, .chosen-drop .chosen-search input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.chosen-container {min-width:460px !important}
.chosen-container .chosen-results li em {
    background: none repeat scroll 0 0 #F3F782;
    font-style: normal;
    font-weight: bold;
}
img.ui-datepicker-trigger {
	padding-bottom:5px;
	vertical-align:middle;
	cursor:pointer
}
#ActionForm .cke_chrome {margin-bottom:5px}

#ProjectMain{
	text-align:center;
	height:75px;
	width:500px;
	margin-top:25px;
}
#Button1{
	width: 50%;
	text-align:center;
	float:left;
}
#Button2{
	width: 50%;
	text-align:center;
	float:right;
}